@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1527356900876-cae61d8d8462?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80')no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin: 1.2em;
  font-size: 1.2em;
  font-weight: bolder;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #FFFB5E;
}

.nav {
  display: flex;
  align-items: center;

}

.nav li {
  list-style: none;
}

.nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1.1em;
  color: #FFFB5E;
}

.nav li a:hover {
  color: #ba73fd;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 225px auto;
}

h1 {
  color: #ba73fd;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-bottom: .4em;
}

p {
  color: #FFFB5E;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 1.2em;
  margin-bottom: 1.6em;
}

button {
  background: #ba73fd54;
  color: #fff;
  padding: 12px 45px;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  word-spacing: 3px;
  transition: all .5s ease;
}

button:hover {
  background: #fffc5e4f;
  transform: translateY(8px);
}